<h2>Análise de Hotéis</h2>

In [399]:
# bibliotecas
import pandas as pd
import plotly_express as px
import numpy as np
import nltk
from nltk.corpus import stopwords

<h3>Importando dados

<h4>Dados de Hospedagem</h4>

In [400]:
# data frame de hospedagens
path_1 = r'.\dados_hospedagem.json'

df_hospedagem = pd.read_json(path_1)
df_hospedagem

                                          info_moveis
0   {'avaliacao_geral': '10.0', 'experiencia_local...
1   {'avaliacao_geral': '10.0', 'experiencia_local...
2   {'avaliacao_geral': '10.0', 'experiencia_local...
3   {'avaliacao_geral': '10.0', 'experiencia_local...
4   {'avaliacao_geral': '10.0', 'experiencia_local...
..                                                ...
65  {'avaliacao_geral': 'nan', 'experiencia_local'...
66  {'avaliacao_geral': 'nan', 'experiencia_local'...
67  {'avaliacao_geral': 'nan', 'experiencia_local'...
68  {'avaliacao_geral': 'nan', 'experiencia_local'...
69  {'avaliacao_geral': 'nan', 'experiencia_local'...

[70 rows x 1 columns]

In [401]:
# verificando estrutura
df_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   info_moveis  70 non-null     object
dtypes: object(1)
memory usage: 692.0+ bytes

In [402]:
# object?
df_hospedagem.apply(lambda x: x.apply(type).unique())

      info_moveis
0  <class 'dict'>

In [403]:
# visualizando dicionario
visualizer = pd.DataFrame(df_hospedagem['info_moveis'][0])
visualizer.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
4,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

In [404]:
# visualizando estutura do dicionario
visualizer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       99 non-null     object
 1   experiencia_local     99 non-null     object
 2   max_hospedes          99 non-null     object
 3   descricao_local       99 non-null     object
 4   descricao_vizinhanca  99 non-null     object
 5   quantidade_banheiros  99 non-null     object
 6   quantidade_quartos    99 non-null     object
 7   quantidade_camas      99 non-null     object
 8   modelo_cama           99 non-null     object
 9   comodidades           99 non-null     object
 10  taxa_deposito         99 non-null     object
 11  taxa_limpeza          99 non-null     object
 12  preco                 99 non-null     object
dtypes: object(13)
memory usage: 10.2+ KB

In [405]:
# object?
visualizer.apply(lambda x: x.apply(type).unique())

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>

In [406]:
# desaninhando dados
df_hospedagem = pd.json_normalize(df_hospedagem['info_moveis'])
df_hospedagem

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,nan,--,5,[Our cozy little bungalow is the perfect place...,[The Queen Anne neighborhood is one of the mos...,"[1, 3, 2, 2, 2, 1, 2, 1, 1, 1, 2, 3, 2, 2, 2, ...","[2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, ...","[3, 2, 2, 3, 3, 2, 3, 2, 2, 3, 3, 3, 2, 3, 2, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{""Cable TV"",""Wireless Internet"",Kitchen,""Free...","[$250.00, $200.00, $0, $0, $0, $200.00, $350.0...","[$35.00, $50.00, $100.00, $100.00, $0, $30.00,...","[$150.00, $200.00, $143.00, $150.00, $350.00, ..."
66,nan,--,6,[Bright clean 2 bedroom 1 bath appartment in t...,[Ballard is the most interesting and ecclectic...,"[1, 1, 3, 2, 1, 3, 2, 2, 1, 2, 2, 2, 1, 2, 1, ...","[2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 2, 4, 3, 3, ...","[3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 2, 2, 4, 4, 3, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",K...","[$200.00, $200.00, $100.00, $0, $0, $750.00, $...","[$0, $0, $100.00, $0, $75.00, $140.00, $112.00...","[$99.00, $185.00, $250.00, $200.00, $275.00, $..."
67,nan,--,7,[Beautiful end-unit townhome with lots of dayl...,"[Cherry blossoms (Sakura) in the spring, every...","[4, 3, 1, 2, 2, 1, 2, 1, 2, 2]","[3, 4, 3, 3, 3, 3, 3, 3, 3, 4]","[3, 5, 1, 5, 3, 2, 3, 4, 4, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$750.00, $350.00, $500.00, $500.00, $0, $200....","[$300.00, $90.00, $250.00, $100.00, $109.00, $...","[$218.00, $350.00, $450.00, $149.00, $99.00, $..."
68,nan,--,8,[Heart of Ballard new townhome with 4 BRs + ba...,"[--, --, The suite is conveniently located off...","[2, 2, 3, 1, 1, 2, 1, 3, 2, 1, 2, 1, 2, 2, 2, ...","[4, 2, 3, 4, 3, 3, 4, 4, 3, 5, 2, 3, 3, 4, 5, ...","[4, 4, 3, 3, 5, 5, 5, 5, 3, 5, 4, 5, 5, 4, 1, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",""Air Conditi...","[$500.00, $150.00, $250.00, $800.00, $0, $500....","[$50.00, $85.00, $150.00, $75.00, $100.00, $80...","[$275.00, $199.00, $400.00, $325.00, $300.00, ..."
69,nan,--,9,[This business-themed modern home features: *...,[Your hosts made Madison Valley their home whe...,"[2, 1]","[3, 4]","[6, 6]","[Real Bed, Real Bed]","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00, $500.00]","[$150.00, $0]","[$250.00, $350.00]"

<h4>Dados de Imóveis Disponíveis</h4>

In [407]:
# data frame imoveis_disponiveis
path_2 = r'.\imoveis_disponiveis.json'
df_imoveis = pd.read_json(path_2)
df_imoveis

          id        data  vaga_disponivel    preco
0        857  2016-01-04            False     None
1        857  2016-01-05            False     None
2        857  2016-01-06            False     None
3        857  2016-01-07            False     None
4        857  2016-01-08            False     None
...      ...         ...              ...      ...
364995  3279  2016-12-29             True  $140.00
364996  3279  2016-12-30             True  $140.00
364997  3279  2016-12-31             True  $140.00
364998  3279  2017-01-01             True  $140.00
364999  3279  2017-01-02            False     None

[365000 rows x 4 columns]

In [408]:
df_imoveis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  object
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

In [409]:
df_imoveis['data'] = pd.to_datetime(df_imoveis['data'])

In [410]:
df_imoveis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  datetime64[ns]
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [411]:
df_imoveis

          id       data  vaga_disponivel    preco
0        857 2016-01-04            False     None
1        857 2016-01-05            False     None
2        857 2016-01-06            False     None
3        857 2016-01-07            False     None
4        857 2016-01-08            False     None
...      ...        ...              ...      ...
364995  3279 2016-12-29             True  $140.00
364996  3279 2016-12-30             True  $140.00
364997  3279 2016-12-31             True  $140.00
364998  3279 2017-01-01             True  $140.00
364999  3279 2017-01-02            False     None

[365000 rows x 4 columns]

In [412]:
df_imoveis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  datetime64[ns]
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [413]:
subset = pd.DataFrame(df_imoveis.groupby(df_imoveis['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum())
subset = subset.reset_index()
subset

       data  vaga_disponivel
0   2016-01            16543
1   2016-02            20128
2   2016-03            23357
3   2016-04            22597
4   2016-05            23842
5   2016-06            23651
6   2016-07            22329
7   2016-08            22529
8   2016-09            22471
9   2016-10            23765
10  2016-11            23352
11  2016-12            24409
12  2017-01             1574

In [414]:
px.bar(subset, x = 'data', y = 'vaga_disponivel', template = 'plotly_dark')

In [415]:
df_imoveis['preco'].info()

<class 'pandas.core.series.Series'>
Index: 365000 entries, 0 to 364999
Series name: preco
Non-Null Count   Dtype
--------------   -----
270547 non-null  object
dtypes: object(1)
memory usage: 5.6+ MB

In [416]:
df_imoveis['preco'] = df_imoveis['preco'].fillna('0.0') # tirando NaN
df_imoveis['preco'].info()

<class 'pandas.core.series.Series'>
Index: 365000 entries, 0 to 364999
Series name: preco
Non-Null Count   Dtype
--------------   -----
365000 non-null  object
dtypes: object(1)
memory usage: 5.6+ MB

In [417]:
df_imoveis['preco'] = df_imoveis['preco'].apply(lambda x: x.replace('$', '').replace(',', '').strip())
df_imoveis['preco'] = df_imoveis['preco'].astype(float)
df_imoveis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  datetime64[ns]
 2   vaga_disponivel  365000 non-null  bool
 3   preco            365000 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 11.5 MB

In [418]:
df_imoveis['preco'].unique()

array([   0.,  120.,   82.,   50.,   49.,   42.,   55.,   54.,   53.,
         56.,   58.,   60.,   48.,   90.,  100.,   85.,   70.,  109.,
        119.,   99.,  149.,  165.,  175.,  185.,  125.,  310.,  320.,
        252.,  261.,  287.,  313.,  348.,  365.,  305.,  329.,  352.,
        356.,  374.,  382.,  391.,  409.,  478.,  496.,  470.,  400.,
        417.,  426.,  435.,  443.,  452.,  461.,  504.,  530.,  548.,
        522.,  487.,  513.,  539.,  557.,  565.,  574.,  517.,  499.,
        360.,   40.,   89.,   95.,  108.,  171.,  130.,  158.,  141.,
        257.,  210.,  198.,  215.,  249.,  164.,  170.,  192.,  311.,
        187.,  209.,  288.,  277.,  254.,  153.,  272.,  181.,  226.,
        367.,  266.,  335.,  137.,   69.,   79.,   59.,  240.,  227.,
        270.,  211.,  243.,  324.,  480.,  322.,  395.,   80.,   75.,
        199.,  202.,  203.,  195.,  190.,  201.,  207.,  196.,  189.,
        212.,  200.,  206.,  193.,  205.,  214.,  197.,  213.,  350.,
        268.,  225.,  325.,  303.,  238.,  237.,  315.,  317.,  314.,
        242.,  375.,  282.,  245.,  247.,  289.,  384.,  342.,  253.,
        262.,  275.,  294.,  433.,  370.,  372.,  402.,  486.,  463.,
        524.,  431.,  430.,  471.,  533.,  509.,  511.,  469.,  519.,
        583.,  607.,  554.,  425.,  545.,  610.,   65.,  220.,  155.,
        250.,   97.,   93.,  105.,  223.,  135.,  204.,  110.,   92.,
        114.,   84.,  124.,  121.,  144.,  150.,  160.,  140.,  235.,
        122.,  115.,  145.,   88.,   67.,   74.,   76.,   77.,   78.,
         81.,   87.,   91.,   83.,   86.,   96.,   94.,  117.,  138.,
         64.,   73.,   71.,   72.,   68.,   39.,   57.,   51.,   52.,
         61.,   62.,   63.,   66.,  159.,  280.,  102.,  219.,  194.,
        224.,  103.,  104.,  101.,  106.,  107.,  134.,  129.,  265.,
        380.,  385.,  229.,  290.,  182.,   46.,  111.,  112.,  116.,
        113.,  118.,   45.,  139.,  154.,  169.,  174.,  179.,  600.,
        500.,  450.,  475.,  147.,  142.,  148.,  146.,  152.,  156.,
        162.,  151.,  157.,  168.,  172.,  161.,  166.,  173.,  180.,
        184.,  177.,  183.,  186.,  188.,  232.,  364.,  299.,  344.,
        218.,  251.,  538.,  448.,  328.,  404.,  564.,  393.,  420.,
        300.,  244.,  550.,  650.,  673.,  259.,  239.,  279.,  123.,
        126.,  131.,  228.,  274.,  236.,  255.,  276.,  291.,  308.,
        263.,  286.,  331.,  256.,  295.,  337.,  296.,  267.,  334.,
        304.,  281.,  341.,  285.,  345.,  309.,  340.,  312.,  293.,
        353.,  361.,  319.,  326.,  302.,  332.,  333.,  366.,  371.,
        339.,  307.,  318.,  338.,  376.,  383.,  323.,  379.,  349.,
        394.,  363.,  347.,  410.,  630.,  368.,  327.,  373.,  369.,
        377.,  388.,  357.,  412.,  397.,  408.,  398.,  413.,  456.,
        390.,  403.,  419.,  455.,  437.,  429.,  415.,  428.,  468.,
        449.,  392.,  446.,  454.,  473.,  440.,  590.,  442.,  485.,
        479.,   98.,   44.,   47.,  128.,  133.,  127.,  132.,  143.,
        136.,  176.,  163.,  178.,  167.,  191.,  264.,  248.,  233.,
        260.,  399.,  222.,   43.,  208.,  508.,  401.,  230.,  216.,
        221.,  234.,  330.,  306.,  301.,  378.,  462.,  273.,  297.,
        284.,  292.,  283.,  414.,  258.,  298.,  464.,  459.,  434.,
        465.,  411.,  359.,  217.,  246.,  316.,  336.,  396.,  460.,
        436.,  466.,  346.,  484.,  482.,  453.,  457.,  488.,  491.,
        477.,  358.,  269.,  321.,  231.,  389.,  416.,  422.,  418.,
        355.,  445.,  241.,  343.,  271.,  447.,  502.,  439.,   34.,
         37.,   38.,   41.,  387.,  537.,  520.,  546.,  512.,  498.,
        506.,  575.,  659.,  640.,  676.,  622.,  525.,   36.,  495.,
        407.,  490.,   29.,  598.,  593.,  354.,   30.,   35.,   33.,
         25.,   27.,   28.,   22.,   23.,   32.,   31.,  750.,  900.,
       1000.,  501., 1240.,  950.,  680.,  975.,  675., 1250., 1450.,
       1650.,  444.])

<h4>Dados de Vendas de Clientes</h4>

In [358]:
# dados de vendas clientes
path_3 = r'.\dados_vendas_clientes.json'
df_clientes = pd.read_json(path_3)
df_clientes

                                        dados_vendas
0  {'Data de venda': '06/06/2022', 'Cliente': ['@...
1  {'Data de venda': '07/06/2022', 'Cliente': ['I...
2  {'Data de venda': '08/06/2022', 'Cliente': ['I...
3  {'Data de venda': '09/06/2022', 'Cliente': ['J...
4  {'Data de venda': '10/06/2022', 'Cliente': ['M...

In [359]:
# desaninhando data frame
df_clientes = pd.json_normalize(df_clientes['dados_vendas'])
df_clientes

,Data de venda,Cliente,Valor da compra
0,06/06/2022,"[@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...","[R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]"
1,07/06/2022,"[Isabely JOanes 738, Isabely JOanes 738, Isabe...","[R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]"
2,08/06/2022,"[Isabely JOanes 738, JOãO Gabriel 671, Julya m...","[R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]"
3,09/06/2022,"[Julya meireles 914, MaRIA Julia 444, MaRIA Ju...","[R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]"
4,10/06/2022,"[MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...","[R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]"

<h4>Dados de Pagamento das Locação dos Imóveis</h4>

In [360]:
# dados de locação dos imóveis
path_4 = r'.\dados_locacao_imoveis.json'
df_locacao = pd.read_json(path_4)
df_locacao

                                        dados_locacao
0   {'apartamento': 'A101 (blocoAP)', 'datas_combi...
1   {'apartamento': 'A102 (blocoAP)', 'datas_combi...
2   {'apartamento': 'B201 (blocoAP)', 'datas_combi...
3   {'apartamento': 'B202 (blocoAP)', 'datas_combi...
4   {'apartamento': 'C301 (blocoAP)', 'datas_combi...
5   {'apartamento': 'C302 (blocoAP)', 'datas_combi...
6   {'apartamento': 'D401 (blocoAP)', 'datas_combi...
7   {'apartamento': 'D402 (blocoAP)', 'datas_combi...
8   {'apartamento': 'E501 (blocoAP)', 'datas_combi...
9   {'apartamento': 'E502 (blocoAP)', 'datas_combi...
10  {'apartamento': 'F601 (blocoAP)', 'datas_combi...
11  {'apartamento': 'F602 (blocoAP)', 'datas_combi...
12  {'apartamento': 'G701 (blocoAP)', 'datas_combi...
13  {'apartamento': 'G702 (blocoAP)', 'datas_combi...
14  {'apartamento': 'H801 (blocoAP)', 'datas_combi...

In [361]:
# desaninhando dados
df_locacao = pd.json_normalize(df_locacao['dados_locacao'])
df_locacao

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),"[01/06/2022, 01/07/2022]","[05/06/2022, 03/07/2022]","[$ 1000,0 reais, $ 2500,0 reais]"
1,A102 (blocoAP),"[02/06/2022, 02/07/2022]","[02/06/2022, 06/07/2022]","[$ 1100,0 reais, $ 2600,0 reais]"
2,B201 (blocoAP),"[03/06/2022, 03/07/2022]","[07/06/2022, 03/07/2022]","[$ 1200,0 reais, $ 2700,0 reais]"
3,B202 (blocoAP),"[04/06/2022, 04/07/2022]","[07/06/2022, 05/07/2022]","[$ 1300,0 reais, $ 2800,0 reais]"
4,C301 (blocoAP),"[05/06/2022, 05/07/2022]","[10/06/2022, 09/07/2022]","[$ 1400,0 reais, $ 2900,0 reais]"
5,C302 (blocoAP),"[06/06/2022, 06/07/2022]","[08/06/2022, 12/07/2022]","[$ 1500,0 reais, $ 1200,0 reais]"
6,D401 (blocoAP),"[07/06/2022, 07/07/2022]","[07/06/2022, 09/07/2022]","[$ 1600,0 reais, $ 1300,0 reais]"
7,D402 (blocoAP),"[08/06/2022, 08/07/2022]","[10/06/2022, 14/07/2022]","[$ 1700,0 reais, $ 1400,0 reais]"
8,E501 (blocoAP),"[09/06/2022, 09/07/2022]","[10/06/2022, 09/07/2022]","[$ 1800,0 reais, $ 1500,0 reais]"
9,E502 (blocoAP),"[10/06/2022, 10/07/2022]","[16/06/2022, 12/07/2022]","[$ 1900,0 reais, $ 1600,0 reais]"
10,F601 (blocoAP),"[11/06/2022, 11/07/2022]","[17/06/2022, 13/07/2022]","[$ 2000,0 reais, $ 1000,0 reais]"
11,F602 (blocoAP),"[12/06/2022, 12/07/2022]","[15/06/2022, 12/07/2022]","[$ 2100,0 reais, $ 1100,0 reais]"
12,G701 (blocoAP),"[13/06/2022, 13/07/2022]","[19/06/2022, 20/07/2022]","[$ 2200,0 reais, $ 1200,0 reais]"
13,G702 (blocoAP),"[14/06/2022, 14/07/2022]","[15/06/2022, 17/07/2022]","[$ 2300,0 reais, $ 2100,0 reais]"
14,H801 (blocoAP),"[15/06/2022, 15/07/2022]","[18/06/2022, 16/07/2022]","[$ 2400,0 reais, $ 2200,0 reais]"

<h3>Trabalhando com dados de de hospedagem</h3>

In [362]:
colunas = list(df_hospedagem.columns)
colunas

['avaliacao_geral',
 'experiencia_local',
 'max_hospedes',
 'descricao_local',
 'descricao_vizinhanca',
 'quantidade_banheiros',
 'quantidade_quartos',
 'quantidade_camas',
 'modelo_cama',
 'comodidades',
 'taxa_deposito',
 'taxa_limpeza',
 'preco']

In [363]:
# expandindo listas
df_hospedagem = df_hospedagem.explode(colunas[3:]).reset_index(drop=True)
df_hospedagem.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
4,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

In [364]:
df_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   object
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: object(13)
memory usage: 387.9+ KB

In [365]:
# transformando em inteiro onde aplicável
colunas_int = ['quantidade_banheiros', 'quantidade_quartos', 'quantidade_camas', 'max_hospedes']

In [366]:
df_hospedagem[colunas_int] = df_hospedagem[colunas_int].astype(np.int64) 
df_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(4), object(9)
memory usage: 387.9+ KB

In [367]:
# transformando float onde aplicavel
df_hospedagem['avaliacao_geral'] = df_hospedagem['avaliacao_geral'].astype(np.float64)
df_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 387.9+ KB

In [368]:
# transformando colunas $$ em float
df_hospedagem['preco']

0       $110.00
1        $45.00
2        $55.00
3        $52.00
4        $85.00
         ...
3813    $299.00
3814    $199.00
3815    $400.00
3816    $250.00
3817    $350.00
Name: preco, Length: 3818, dtype: object

In [369]:
df_hospedagem['preco'] = df_hospedagem['preco'].apply(lambda x: x.replace('$', '').replace(',', '').strip())
df_hospedagem['preco'] = df_hospedagem['preco'].astype(np.float64)
df_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   float64
dtypes: float64(2), int64(4), object(7)
memory usage: 387.9+ KB

In [370]:
# de maneira massiva
df_hospedagem[['taxa_deposito', 'taxa_limpeza']] = df_hospedagem[['taxa_deposito', 'taxa_limpeza']].applymap(lambda x: x.replace('$', '').replace(',', '').strip())
df_hospedagem[['taxa_deposito', 'taxa_limpeza']] = df_hospedagem[['taxa_deposito', 'taxa_limpeza']].astype(np.float64)
df_hospedagem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   float64
 11  taxa_limpeza          3818 non-null   float64
 12  preco                 3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 387.9+ KB

C:\Users\corre\AppData\Local\Temp\ipykernel_26140\2911294985.py:2: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

<h4> Trabalhando strings - Descrição dos locais

In [371]:
df_hospedagem['descricao_local']

0       This clean and comfortable one bedroom sits ri...
1       Our century old Upper Queen Anne house is loca...
2       Cozy room in two-bedroom apartment along the l...
3       Very lovely and cozy room for one. Convenientl...
4       The “Studio at Mibbett Hollow' is in a Beautif...
                              ...
3813    Beautiful craftsman home in the historic Wedgw...
3814    Located in a very easily accessible area of Se...
3815    This home is fully furnished and available wee...
3816    This business-themed modern home features:  *H...
3817    This welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [372]:
# tudo em caixa baixa
df_hospedagem['descricao_local'] = df_hospedagem['descricao_local'].str.lower()
df_hospedagem['descricao_local']

0       this clean and comfortable one bedroom sits ri...
1       our century old upper queen anne house is loca...
2       cozy room in two-bedroom apartment along the l...
3       very lovely and cozy room for one. convenientl...
4       the “studio at mibbett hollow' is in a beautif...
                              ...
3813    beautiful craftsman home in the historic wedgw...
3814    located in a very easily accessible area of se...
3815    this home is fully furnished and available wee...
3816    this business-themed modern home features:  *h...
3817    this welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [373]:
# removendo caracteres especiais
df_hospedagem['descricao_local'] = df_hospedagem['descricao_local'].str.replace('[^a-zA-Z0-9\-\']', ' ', regex=True)
df_hospedagem['descricao_local']

<>:2: SyntaxWarning:

invalid escape sequence '\-'

<>:2: SyntaxWarning:

invalid escape sequence '\-'

C:\Users\corre\AppData\Local\Temp\ipykernel_26140\4001248525.py:2: SyntaxWarning:

invalid escape sequence '\-'

0       this clean and comfortable one bedroom sits ri...
1       our century old upper queen anne house is loca...
2       cozy room in two-bedroom apartment along the l...
3       very lovely and cozy room for one  convenientl...
4       the  studio at mibbett hollow' is in a beautif...
                              ...
3813    beautiful craftsman home in the historic wedgw...
3814    located in a very easily accessible area of se...
3815    this home is fully furnished and available wee...
3816    this business-themed modern home features    h...
3817    this welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [374]:
df_hospedagem['descricao_local'] = df_hospedagem['descricao_local'].str.replace('(?<!\w)-(?!\w)', ' ', regex=True)
df_hospedagem['descricao_local']

<>:1: SyntaxWarning:

invalid escape sequence '\w'

<>:1: SyntaxWarning:

invalid escape sequence '\w'

C:\Users\corre\AppData\Local\Temp\ipykernel_26140\836590402.py:1: SyntaxWarning:

invalid escape sequence '\w'

0       this clean and comfortable one bedroom sits ri...
1       our century old upper queen anne house is loca...
2       cozy room in two-bedroom apartment along the l...
3       very lovely and cozy room for one  convenientl...
4       the  studio at mibbett hollow' is in a beautif...
                              ...
3813    beautiful craftsman home in the historic wedgw...
3814    located in a very easily accessible area of se...
3815    this home is fully furnished and available wee...
3816    this business-themed modern home features    h...
3817    this welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [375]:
# removendo stopwords e tokenizando
nltk.download
eng_stopword = set(stopwords.words('english'))

In [376]:
def remover_stopwords(texto):
    return [word for word in texto.split() if word not in eng_stopword]

In [377]:
df_hospedagem['descricao_local'] = df_hospedagem['descricao_local'].apply(remover_stopwords)
df_hospedagem['descricao_local']

0       [clean, comfortable, one, bedroom, sits, right...
1       [century, old, upper, queen, anne, house, loca...
2       [cozy, room, two-bedroom, apartment, along, lo...
3       [lovely, cozy, room, one, conveniently, locate...
4       [studio, mibbett, hollow', beautiful, houseboa...
                              ...
3813    [beautiful, craftsman, home, historic, wedgwoo...
3814    [located, easily, accessible, area, seattle, y...
3815    [home, fully, furnished, available, weekly, mo...
3816    [business-themed, modern, home, features, high...
3817    [welcoming, home, quiet, residential, part, se...
Name: descricao_local, Length: 3818, dtype: object

In [378]:
df_hospedagem['comodidades']

0       {Internet,"Wireless Internet",Kitchen,"Free Pa...
1       {TV,Internet,"Wireless Internet",Kitchen,"Free...
2       {TV,Internet,"Wireless Internet",Kitchen,"Free...
3       {Internet,"Wireless Internet",Kitchen,"Free Pa...
4       {"Wireless Internet",Kitchen,"Free Parking on ...
                              ...
3813    {TV,"Cable TV",Internet,"Wireless Internet","A...
3814    {TV,"Cable TV",Internet,"Wireless Internet",Ki...
3815    {TV,"Cable TV",Internet,"Wireless Internet","A...
3816    {TV,"Cable TV",Internet,"Wireless Internet","A...
3817    {TV,Internet,"Wireless Internet",Kitchen,"Free...
Name: comodidades, Length: 3818, dtype: object

In [379]:
df_hospedagem['comodidades'] = df_hospedagem['comodidades'].str.replace('\{|}|\"', '', regex=True)
df_hospedagem['comodidades']

<>:1: SyntaxWarning:

invalid escape sequence '\{'

<>:1: SyntaxWarning:

invalid escape sequence '\{'

C:\Users\corre\AppData\Local\Temp\ipykernel_26140\428389882.py:1: SyntaxWarning:

invalid escape sequence '\{'

0       Internet,Wireless Internet,Kitchen,Free Parkin...
1       TV,Internet,Wireless Internet,Kitchen,Free Par...
2       TV,Internet,Wireless Internet,Kitchen,Free Par...
3       Internet,Wireless Internet,Kitchen,Free Parkin...
4       Wireless Internet,Kitchen,Free Parking on Prem...
                              ...
3813    TV,Cable TV,Internet,Wireless Internet,Air Con...
3814    TV,Cable TV,Internet,Wireless Internet,Kitchen...
3815    TV,Cable TV,Internet,Wireless Internet,Air Con...
3816    TV,Cable TV,Internet,Wireless Internet,Air Con...
3817    TV,Internet,Wireless Internet,Kitchen,Free Par...
Name: comodidades, Length: 3818, dtype: object

In [380]:
df_hospedagem['comodidades'] = df_hospedagem['comodidades'].str.split(',')
df_hospedagem['comodidades']

0       [Internet, Wireless Internet, Kitchen, Free Pa...
1       [TV, Internet, Wireless Internet, Kitchen, Fre...
2       [TV, Internet, Wireless Internet, Kitchen, Fre...
3       [Internet, Wireless Internet, Kitchen, Free Pa...
4       [Wireless Internet, Kitchen, Free Parking on P...
                              ...
3813    [TV, Cable TV, Internet, Wireless Internet, Ai...
3814    [TV, Cable TV, Internet, Wireless Internet, Ki...
3815    [TV, Cable TV, Internet, Wireless Internet, Ai...
3816    [TV, Cable TV, Internet, Wireless Internet, Ai...
3817    [TV, Internet, Wireless Internet, Kitchen, Fre...
Name: comodidades, Length: 3818, dtype: object

In [381]:
df_hospedagem['descricao_vizinhanca'][5]

'Wallingford is a mostly-residential neighborhood, situated between the restaurants, bars and nightlife of Fremont or Ballard, and the buzzing, academic University District.'

In [382]:
df_hospedagem['descricao_vizinhanca'] = df_hospedagem['descricao_vizinhanca'].str.lower()
df_hospedagem['descricao_vizinhanca']

0       lower queen anne is near the seattle center (s...
1       upper queen anne is a really pleasant, unique ...
2       the convenience of being in seattle but on the...
3       ballard is lovely, vibrant and one of the most...
4                                                      --
                              ...
3813                                                   --
3814    quiet, dead end street near i-5. the proximity...
3815                                                   --
3816    your hosts made madison valley their home when...
3817    despite the quiet, leafy streets of this resid...
Name: descricao_vizinhanca, Length: 3818, dtype: object

In [383]:
df_hospedagem['descricao_vizinhanca'] = df_hospedagem['descricao_vizinhanca'].str.replace('[^a-zA-Z0-9\-\']', ' ', regex=True)
df_hospedagem['descricao_local'] = df_hospedagem['descricao_local'].str.replace('(?<!\w)-(?!\w)', ' ', regex=True)
df_hospedagem['descricao_vizinhanca']

<>:1: SyntaxWarning:

invalid escape sequence '\-'

<>:2: SyntaxWarning:

invalid escape sequence '\w'

<>:1: SyntaxWarning:

invalid escape sequence '\-'

<>:2: SyntaxWarning:

invalid escape sequence '\w'

C:\Users\corre\AppData\Local\Temp\ipykernel_26140\2700217736.py:1: SyntaxWarning:

invalid escape sequence '\-'

C:\Users\corre\AppData\Local\Temp\ipykernel_26140\2700217736.py:2: SyntaxWarning:

invalid escape sequence '\w'

0       lower queen anne is near the seattle center  s...
1       upper queen anne is a really pleasant  unique ...
2       the convenience of being in seattle but on the...
3       ballard is lovely  vibrant and one of the most...
4                                                      --
                              ...
3813                                                   --
3814    quiet  dead end street near i-5  the proximity...
3815                                                   --
3816    your hosts made madison valley their home when...
3817    despite the quiet  leafy streets of this resid...
Name: descricao_vizinhanca, Length: 3818, dtype: object

In [384]:
df_hospedagem['descricao_vizinhanca'] = df_hospedagem['descricao_vizinhanca'].apply(remover_stopwords)
df_hospedagem['descricao_vizinhanca']

0       [lower, queen, anne, near, seattle, center, sp...
1       [upper, queen, anne, really, pleasant, unique,...
2       [convenience, seattle, west, slope, water, vie...
3       [ballard, lovely, vibrant, one, rapidly, growi...
4                                                    [--]
                              ...
3813                                                 [--]
3814    [quiet, dead, end, street, near, i-5, proximit...
3815                                                 [--]
3816    [hosts, made, madison, valley, home, settling,...
3817    [despite, quiet, leafy, streets, residential, ...
Name: descricao_vizinhanca, Length: 3818, dtype: object

<h3>Trabalhando com dados de Vendas

In [385]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    5 non-null      object
 1   Cliente          5 non-null      object
 2   Valor da compra  5 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes

In [386]:
# criando listas de colunas para explode
colunas_vendas = list(df_clientes.columns)
colunas_vendas

['Data de venda', 'Cliente', 'Valor da compra']

In [387]:
df_clientes.apply(lambda x: x.apply(type).unique()) # verificando exatamente

   Data de venda         Cliente Valor da compra
0  <class 'str'>  <class 'list'>  <class 'list'>

In [388]:
# explodindo listas
df_clientes = df_clientes.explode(colunas_vendas[1:])
df_clientes

  Data de venda             Cliente Valor da compra
0    06/06/2022     @ANA _LUCIA 321        R$ 836,5
0    06/06/2022  DieGO ARMANDIU 210       R$ 573,33
0    06/06/2022  DieGO ARMANDIU 210        R$ 392,8
0    06/06/2022  DieGO ARMANDIU 210       R$ 512,34
1    07/06/2022  Isabely JOanes 738       R$ 825,31
1    07/06/2022  Isabely JOanes 738       R$ 168,07
1    07/06/2022  Isabely JOanes 738       R$ 339,18
1    07/06/2022  Isabely JOanes 738       R$ 314,69
2    08/06/2022  Isabely JOanes 738       R$ 682,05
2    08/06/2022    JOãO Gabriel 671       R$ 386,34
2    08/06/2022  Julya meireles 914       R$ 622,65
2    08/06/2022  Julya meireles 914       R$ 630,79
3    09/06/2022  Julya meireles 914        R$ 390,3
3    09/06/2022     MaRIA Julia 444       R$ 759,16
3    09/06/2022     MaRIA Julia 444       R$ 334,47
3    09/06/2022     MaRIA Julia 444       R$ 678,78
4    10/06/2022     MaRIA Julia 444       R$ 314,24
4    10/06/2022     PEDRO PASCO 812       R$ 311,15
4    10/06/2022    Paulo castro 481       R$ 899,16
4    10/06/2022   Thiago fritzz 883       R$ 885,24

In [389]:
df_clientes['Valor da compra'] = df_clientes['Valor da compra'].apply(lambda x: x.replace('R$ ', '').replace(',', '.').strip())
df_clientes['Valor da compra'] = df_clientes['Valor da compra'].astype(np.float64)
df_clientes

  Data de venda             Cliente  Valor da compra
0    06/06/2022     @ANA _LUCIA 321           836.50
0    06/06/2022  DieGO ARMANDIU 210           573.33
0    06/06/2022  DieGO ARMANDIU 210           392.80
0    06/06/2022  DieGO ARMANDIU 210           512.34
1    07/06/2022  Isabely JOanes 738           825.31
1    07/06/2022  Isabely JOanes 738           168.07
1    07/06/2022  Isabely JOanes 738           339.18
1    07/06/2022  Isabely JOanes 738           314.69
2    08/06/2022  Isabely JOanes 738           682.05
2    08/06/2022    JOãO Gabriel 671           386.34
2    08/06/2022  Julya meireles 914           622.65
2    08/06/2022  Julya meireles 914           630.79
3    09/06/2022  Julya meireles 914           390.30
3    09/06/2022     MaRIA Julia 444           759.16
3    09/06/2022     MaRIA Julia 444           334.47
3    09/06/2022     MaRIA Julia 444           678.78
4    10/06/2022     MaRIA Julia 444           314.24
4    10/06/2022     PEDRO PASCO 812           311.15
4    10/06/2022    Paulo castro 481           899.16
4    10/06/2022   Thiago fritzz 883           885.24

In [390]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float64
dtypes: float64(1), object(2)
memory usage: 640.0+ bytes

In [419]:
df_clientes.head()

  Data de venda             Cliente  Valor da compra
0    06/06/2022     @ANA _LUCIA 321           836.50
0    06/06/2022  DieGO ARMANDIU 210           573.33
0    06/06/2022  DieGO ARMANDIU 210           392.80
0    06/06/2022  DieGO ARMANDIU 210           512.34
1    07/06/2022  Isabely JOanes 738           825.31

In [423]:
df_clientes['Data de venda'] = pd.to_datetime(df_clientes['Data de venda'])
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     datetime64[ns]
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 640.0+ bytes

In [434]:
df_clientes.groupby(['Cliente'])['Valor da compra'].sum().reset_index()

              Cliente  Valor da compra
0     @ANA _LUCIA 321           836.50
1  DieGO ARMANDIU 210          1478.47
2  Isabely JOanes 738          2329.30
3    JOãO Gabriel 671           386.34
4  Julya meireles 914          1643.74
5     MaRIA Julia 444          2086.65
6     PEDRO PASCO 812           311.15
7    Paulo castro 481           899.16
8   Thiago fritzz 883           885.24

In [ ]:
df_clientes['Data de venda'].dt.strftime()

<h3>Trabalhando dados de pagamento de condomínio

In [391]:
df_locacao.head() # relembrando...

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),"[01/06/2022, 01/07/2022]","[05/06/2022, 03/07/2022]","[$ 1000,0 reais, $ 2500,0 reais]"
1,A102 (blocoAP),"[02/06/2022, 02/07/2022]","[02/06/2022, 06/07/2022]","[$ 1100,0 reais, $ 2600,0 reais]"
2,B201 (blocoAP),"[03/06/2022, 03/07/2022]","[07/06/2022, 03/07/2022]","[$ 1200,0 reais, $ 2700,0 reais]"
3,B202 (blocoAP),"[04/06/2022, 04/07/2022]","[07/06/2022, 05/07/2022]","[$ 1300,0 reais, $ 2800,0 reais]"
4,C301 (blocoAP),"[05/06/2022, 05/07/2022]","[10/06/2022, 09/07/2022]","[$ 1400,0 reais, $ 2900,0 reais]"

In [392]:
# precisa explodir data combinada, data pagamento, aluguel...
colunas_locacao = list(df_locacao.columns)
colunas_locacao

['apartamento',
 'datas_combinadas_pagamento',
 'datas_de_pagamento',
 'valor_aluguel']

In [393]:
df_locacao = df_locacao.explode(colunas_locacao[1:])
df_locacao

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,"$ 1000,0 reais"
0,A101 (blocoAP),01/07/2022,03/07/2022,"$ 2500,0 reais"
1,A102 (blocoAP),02/06/2022,02/06/2022,"$ 1100,0 reais"
1,A102 (blocoAP),02/07/2022,06/07/2022,"$ 2600,0 reais"
2,B201 (blocoAP),03/06/2022,07/06/2022,"$ 1200,0 reais"
2,B201 (blocoAP),03/07/2022,03/07/2022,"$ 2700,0 reais"
3,B202 (blocoAP),04/06/2022,07/06/2022,"$ 1300,0 reais"
3,B202 (blocoAP),04/07/2022,05/07/2022,"$ 2800,0 reais"
4,C301 (blocoAP),05/06/2022,10/06/2022,"$ 1400,0 reais"
4,C301 (blocoAP),05/07/2022,09/07/2022,"$ 2900,0 reais"
5,C302 (blocoAP),06/06/2022,08/06/2022,"$ 1500,0 reais"
5,C302 (blocoAP),06/07/2022,12/07/2022,"$ 1200,0 reais"
6,D401 (blocoAP),07/06/2022,07/06/2022,"$ 1600,0 reais"
6,D401 (blocoAP),07/07/2022,09/07/2022,"$ 1300,0 reais"
7,D402 (blocoAP),08/06/2022,10/06/2022,"$ 1700,0 reais"
7,D402 (blocoAP),08/07/2022,14/07/2022,"$ 1400,0 reais"
8,E501 (blocoAP),09/06/2022,10/06/2022,"$ 1800,0 reais"
8,E501 (blocoAP),09/07/2022,09/07/2022,"$ 1500,0 reais"
9,E502 (blocoAP),10/06/2022,16/06/2022,"$ 1900,0 reais"
9,E502 (blocoAP),10/07/2022,12/07/2022,"$ 1600,0 reais"
10,F601 (blocoAP),11/06/2022,17/06/2022,"$ 2000,0 reais"
10,F601 (blocoAP),11/07/2022,13/07/2022,"$ 1000,0 reais"
11,F602 (blocoAP),12/06/2022,15/06/2022,"$ 2100,0 reais"
11,F602 (blocoAP),12/07/2022,12/07/2022,"$ 1100,0 reais"
12,G701 (blocoAP),13/06/2022,19/06/2022,"$ 2200,0 reais"
12,G701 (blocoAP),13/07/2022,20/07/2022,"$ 1200,0 reais"
13,G702 (blocoAP),14/06/2022,15/06/2022,"$ 2300,0 reais"
13,G702 (blocoAP),14/07/2022,17/07/2022,"$ 2100,0 reais"
14,H801 (blocoAP),15/06/2022,18/06/2022,"$ 2400,0 reais"
14,H801 (blocoAP),15/07/2022,16/07/2022,"$ 2200,0 reais"

In [394]:
df_locacao.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 0 to 14
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB

In [395]:
# ajustar as colunas com $$
df_locacao['valor_aluguel'] = df_locacao['valor_aluguel'].apply(lambda x: x.replace('$ ', '').replace(' reais', '').replace(',', '.').strip())
df_locacao['valor_aluguel'] = df_locacao['valor_aluguel'].astype(np.float64)
df_locacao

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,1000.0
0,A101 (blocoAP),01/07/2022,03/07/2022,2500.0
1,A102 (blocoAP),02/06/2022,02/06/2022,1100.0
1,A102 (blocoAP),02/07/2022,06/07/2022,2600.0
2,B201 (blocoAP),03/06/2022,07/06/2022,1200.0
2,B201 (blocoAP),03/07/2022,03/07/2022,2700.0
3,B202 (blocoAP),04/06/2022,07/06/2022,1300.0
3,B202 (blocoAP),04/07/2022,05/07/2022,2800.0
4,C301 (blocoAP),05/06/2022,10/06/2022,1400.0
4,C301 (blocoAP),05/07/2022,09/07/2022,2900.0
5,C302 (blocoAP),06/06/2022,08/06/2022,1500.0
5,C302 (blocoAP),06/07/2022,12/07/2022,1200.0
6,D401 (blocoAP),07/06/2022,07/06/2022,1600.0
6,D401 (blocoAP),07/07/2022,09/07/2022,1300.0
7,D402 (blocoAP),08/06/2022,10/06/2022,1700.0
7,D402 (blocoAP),08/07/2022,14/07/2022,1400.0
8,E501 (blocoAP),09/06/2022,10/06/2022,1800.0
8,E501 (blocoAP),09/07/2022,09/07/2022,1500.0
9,E502 (blocoAP),10/06/2022,16/06/2022,1900.0
9,E502 (blocoAP),10/07/2022,12/07/2022,1600.0
10,F601 (blocoAP),11/06/2022,17/06/2022,2000.0
10,F601 (blocoAP),11/07/2022,13/07/2022,1000.0
11,F602 (blocoAP),12/06/2022,15/06/2022,2100.0
11,F602 (blocoAP),12/07/2022,12/07/2022,1100.0
12,G701 (blocoAP),13/06/2022,19/06/2022,2200.0
12,G701 (blocoAP),13/07/2022,20/07/2022,1200.0
13,G702 (blocoAP),14/06/2022,15/06/2022,2300.0
13,G702 (blocoAP),14/07/2022,17/07/2022,2100.0
14,H801 (blocoAP),15/06/2022,18/06/2022,2400.0
14,H801 (blocoAP),15/07/2022,16/07/2022,2200.0

In [396]:
df_locacao.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 0 to 14
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.2+ KB

In [439]:
df_locacao['datas_combinadas_pagamento'] = pd.to_datetime(df_locacao['datas_combinadas_pagamento'], format = '%d/%m/%Y')
df_locacao.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 0 to 14
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     datetime64[ns]
 2   datas_de_pagamento          30 non-null     datetime64[ns]
 3   valor_aluguel               30 non-null     float64
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 1.2+ KB

In [438]:
df_locacao['datas_de_pagamento'] = pd.to_datetime(df_locacao['datas_de_pagamento'], format = '%d/%m/%Y')
df_locacao.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 0 to 14
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     datetime64[ns]
 3   valor_aluguel               30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 1.2+ KB

In [440]:
df_locacao

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),2022-06-01,2022-06-05,1000.0
0,A101 (blocoAP),2022-07-01,2022-07-03,2500.0
1,A102 (blocoAP),2022-06-02,2022-06-02,1100.0
1,A102 (blocoAP),2022-07-02,2022-07-06,2600.0
2,B201 (blocoAP),2022-06-03,2022-06-07,1200.0
2,B201 (blocoAP),2022-07-03,2022-07-03,2700.0
3,B202 (blocoAP),2022-06-04,2022-06-07,1300.0
3,B202 (blocoAP),2022-07-04,2022-07-05,2800.0
4,C301 (blocoAP),2022-06-05,2022-06-10,1400.0
4,C301 (blocoAP),2022-07-05,2022-07-09,2900.0
5,C302 (blocoAP),2022-06-06,2022-06-08,1500.0
5,C302 (blocoAP),2022-07-06,2022-07-12,1200.0
6,D401 (blocoAP),2022-06-07,2022-06-07,1600.0
6,D401 (blocoAP),2022-07-07,2022-07-09,1300.0
7,D402 (blocoAP),2022-06-08,2022-06-10,1700.0
7,D402 (blocoAP),2022-07-08,2022-07-14,1400.0
8,E501 (blocoAP),2022-06-09,2022-06-10,1800.0
8,E501 (blocoAP),2022-07-09,2022-07-09,1500.0
9,E502 (blocoAP),2022-06-10,2022-06-16,1900.0
9,E502 (blocoAP),2022-07-10,2022-07-12,1600.0
10,F601 (blocoAP),2022-06-11,2022-06-17,2000.0
10,F601 (blocoAP),2022-07-11,2022-07-13,1000.0
11,F602 (blocoAP),2022-06-12,2022-06-15,2100.0
11,F602 (blocoAP),2022-07-12,2022-07-12,1100.0
12,G701 (blocoAP),2022-06-13,2022-06-19,2200.0
12,G701 (blocoAP),2022-07-13,2022-07-20,1200.0
13,G702 (blocoAP),2022-06-14,2022-06-15,2300.0
13,G702 (blocoAP),2022-07-14,2022-07-17,2100.0
14,H801 (blocoAP),2022-06-15,2022-06-18,2400.0
14,H801 (blocoAP),2022-07-15,2022-07-16,2200.0

In [441]:
df_locacao['atraso'] = df_locacao['datas_de_pagamento'] - df_locacao['datas_combinadas_pagamento']
df_locacao

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel,atraso
0,A101 (blocoAP),2022-06-01,2022-06-05,1000.0,4 days
0,A101 (blocoAP),2022-07-01,2022-07-03,2500.0,2 days
1,A102 (blocoAP),2022-06-02,2022-06-02,1100.0,0 days
1,A102 (blocoAP),2022-07-02,2022-07-06,2600.0,4 days
2,B201 (blocoAP),2022-06-03,2022-06-07,1200.0,4 days
2,B201 (blocoAP),2022-07-03,2022-07-03,2700.0,0 days
3,B202 (blocoAP),2022-06-04,2022-06-07,1300.0,3 days
3,B202 (blocoAP),2022-07-04,2022-07-05,2800.0,1 days
4,C301 (blocoAP),2022-06-05,2022-06-10,1400.0,5 days
4,C301 (blocoAP),2022-07-05,2022-07-09,2900.0,4 days
5,C302 (blocoAP),2022-06-06,2022-06-08,1500.0,2 days
5,C302 (blocoAP),2022-07-06,2022-07-12,1200.0,6 days
6,D401 (blocoAP),2022-06-07,2022-06-07,1600.0,0 days
6,D401 (blocoAP),2022-07-07,2022-07-09,1300.0,2 days
7,D402 (blocoAP),2022-06-08,2022-06-10,1700.0,2 days
7,D402 (blocoAP),2022-07-08,2022-07-14,1400.0,6 days
8,E501 (blocoAP),2022-06-09,2022-06-10,1800.0,1 days
8,E501 (blocoAP),2022-07-09,2022-07-09,1500.0,0 days
9,E502 (blocoAP),2022-06-10,2022-06-16,1900.0,6 days
9,E502 (blocoAP),2022-07-10,2022-07-12,1600.0,2 days
10,F601 (blocoAP),2022-06-11,2022-06-17,2000.0,6 days
10,F601 (blocoAP),2022-07-11,2022-07-13,1000.0,2 days
11,F602 (blocoAP),2022-06-12,2022-06-15,2100.0,3 days
11,F602 (blocoAP),2022-07-12,2022-07-12,1100.0,0 days
12,G701 (blocoAP),2022-06-13,2022-06-19,2200.0,6 days
12,G701 (blocoAP),2022-07-13,2022-07-20,1200.0,7 days
13,G702 (blocoAP),2022-06-14,2022-06-15,2300.0,1 days
13,G702 (blocoAP),2022-07-14,2022-07-17,2100.0,3 days
14,H801 (blocoAP),2022-06-15,2022-06-18,2400.0,3 days
14,H801 (blocoAP),2022-07-15,2022-07-16,2200.0,1 days

In [442]:
media_atraso = df_locacao.groupby(['apartamento'])['atraso'].mean()
media_atraso

apartamento
A101 (blocoAP)   3 days 00:00:00
A102 (blocoAP)   2 days 00:00:00
B201 (blocoAP)   2 days 00:00:00
B202 (blocoAP)   2 days 00:00:00
C301 (blocoAP)   4 days 12:00:00
C302 (blocoAP)   4 days 00:00:00
D401 (blocoAP)   1 days 00:00:00
D402 (blocoAP)   4 days 00:00:00
E501 (blocoAP)   0 days 12:00:00
E502 (blocoAP)   4 days 00:00:00
F601 (blocoAP)   4 days 00:00:00
F602 (blocoAP)   1 days 12:00:00
G701 (blocoAP)   6 days 12:00:00
G702 (blocoAP)   2 days 00:00:00
H801 (blocoAP)   2 days 00:00:00
Name: atraso, dtype: timedelta64[ns]